
#countryinfo {
    }

#countryinfo > table {
    border: 1px solid black;
    }
#countryinfo th {
    text-align: left;
    border: 1px solid black;
    padding: 2px;
    }
#countryinfo td {
    margin: 0px;
    }
#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
    }
body {
    background: #505050;
    }
h1,h2,h3 {
    font-family: sans-serif;
    color: #505050;
    }
thead {
    background: #505050;
    color: white;
    font-family: sans-serif;
    }

#world-map {
    border-radius: 10px;
    }
h1 {
    color: white;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    font-size: 250%;
    }
